---
version: 2
jobs:
  test:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/pantheon-systems/pauditd
    steps:
      - checkout
      - run: make test
      - persist_to_workspace:
          root: .
          paths:
            - ./

  build-release:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/pantheon-systems/pauditd
    steps:
      - attach_workspace:
          at: .
      - setup_remote_docker
      - run: make setup-quay
      - run: |
          curl -s https://api.github.com/repos/pantheon-systems/autotag/releases/latest | \
            grep browser_download | \
            grep -i linux | \
            cut -d '"' -f 4 | \
            xargs curl -o ~/autotag -L \
            && chmod 755 ~/autotag
      - run: ~/autotag
      - run: curl -sL https://git.io/goreleaser | bash -s -- --parallelism=2
      - store_artifacts:
          path: /go/src/github.com/pantheon-systems/pauditd/dist
      - persist_to_workspace:
          root: .
          paths:
            - ./dist

  publish-rpm:
    docker:
      - image: circleci/ruby:2.5
    steps:
      - attach_workspace:
          at: .
      - run: gem install package_cloud --no-rdoc --no-ri
      - run: package_cloud push pantheon/public/fedora/22 ./dist/*.rpm
      - run: package_cloud push pantheon/public/fedora/28 ./dist/*.rpm
      - run: package_cloud push pantheon/public/fedora/29 ./dist/*.rpm
      - run: package_cloud push pantheon/public/el/7 ./dist/*.rpm


workflows:
  version: 2
  test-build-release:
    jobs:
      - test
      - build-release:
          requires:
            - test
#         filters:
#           branches:
#             only:
#               - master
      - publish-rpm:
          requires:
            - build-release
#         filters:
#           branches:
#             only:
#               - master
