---
version: 2
jobs:
  test:
    docker:
      - image: cimg/go:1.18
    working_directory: /home/circleci/pauditd
    steps:
      - checkout
      - run: make test
      - persist_to_workspace:
          root: .
          paths:
            - ./

  build-release:
    docker:
      - image: cimg/go:1.18
    working_directory: /home/circleci/pauditd
    steps:
      - attach_workspace:
          at: .
      - setup_remote_docker
      - run: make setup-quay
      - run: |
          sudo apt update && sudo apt install rpm && \
          curl -s https://api.github.com/repos/pantheon-systems/autotag/releases/latest | \
            grep browser_download | \
            grep -i linux_amd64 | \
            head -n1 | \
            cut -d '"' -f 4 | \
            xargs curl -o ~/autotag -L \
            && chmod 755 ~/autotag
      - run: ~/autotag
      - run: curl -sL https://git.io/goreleaser | bash -s -- --parallelism=2
      - store_artifacts:
          path: /home/circleci/pauditd/dist
      - persist_to_workspace:
          root: .
          paths:
            - ./dist

  publish-rpm:
    docker:
      - image: circleci/ruby:2.5
    steps:
      - attach_workspace:
          at: .
      - run: gem install package_cloud
      - run: package_cloud push pantheon/public/fedora/22 ./dist/*.rpm
      - run: package_cloud push pantheon/public/fedora/28 ./dist/*.rpm
      - run: package_cloud push pantheon/public/fedora/29 ./dist/*.rpm
      - run: package_cloud push pantheon/public/el/7 ./dist/*.rpm


workflows:
  version: 2
  test-build-release:
    jobs:
      - test:
          context:
            - docker-executor-auth
      - build-release:
          context:
            - docker-executor-auth
            - sig-go-release
          requires:
            - test
          filters:
            branches:
              only:
                - master
      - publish-rpm:
          requires:
            - build-release
          filters:
            branches:
              only:
                - master
